* {
  padding: 0;
  margin: 0;
}
#root {
  height: 100vh;
  width: 100vw;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgb(255, 197, 125);
  padding: 1.4rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-item: center;
  flex-direction: column;
  width: 200px;
  height: 100px;
  gap: 0.5rem;
}

.box h1 {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
}
.box a {
  text-align: center;
  font-weight: 600;
  color: black;
}
.box button {
  font-weight: 600;
  background-color: bisque;
  border: 2px solid bisque;
  border-radius: 6px;
}
